# Puerto del servicio
PORT=3003

# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=password
DB_NAME=esap_db
DB_SCHEMA=academic_work_plan
TYPEORM_SYNC=false

# API Gateway URL
API_GATEWAY_URL=http://localhost:3000

# Auth Service URL
AUTH_SERVICE_URL=http://localhost:3001

# Notification Service URL
NOTIFICATION_SERVICE_URL=http://localhost:3009

# Environment
NODE_ENV=development